* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo {
  width: 15%;
  cursor: pointer;
  transform: translateX(-10%);
}

.navbar .nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  height: 100px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

.nav .nav-items li {
  display: inline-block;
}

.nav .nav-items a:hover {
  color: #FA7716;
  transition: 1s;
}

.nav .nav-items li a {
  text-decoration: none;
  margin-left: 39px;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  color: #151A3C;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nav-items .nav_home {
  color: #FA7716 !important;
}

.navbar .btn-button {
  width: 120px;
  height: 40px;
  border: none;
  background: linear-gradient(290.23deg, #F07E2A 19.71%, #FFAB6C 84.85%);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.navbar .btn-button p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}

.navbar .btn-button p:hover {
  color: #151A3C;
  transition: 1s;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: #FA7716;
  position: relative;
}

.banner .banner-top {
  background-color: #FA7716;
  width: 100%;
  height: 85%;
}

.banner .banner-bottom {
  background-color: #FAFAFA;
  height: 15%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: inherit;
  z-index: 99;
  position: relative;
}

.banner .banner-content {
  position: absolute;
  top: 35%;
  z-index: 99;
  padding-left: calc((100% - 1200px) / 2);
}

.banner .square {
  position: absolute;
  width: 47vh;
  height: 47vh;
  left: -140px;
  top: 13.5%;
  background: #FC8833;
  border-radius: 50%;
}

.banner .banner-content h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  color: #FFFFFF;
}

.banner .banner-content .button-banner {
  position: absolute;
  width: 200px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  opacity: 0.9;
}

.banner .banner-content .button-banner:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

.banner .button-banner p {
  margin-left: -50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #F07E2A;
}

.banner .button-banner .alo {
  position: absolute;
  font-size: 15px;
  color: #F07E2A;
  margin-left: 30px;
  margin-top: -16px;
}

.banner .square-right {
  position: absolute;
  width: 125vh;
  height: 85vh;
  bottom: 0;
  right: 0;
  background: #FC8833;
  border-top-right-radius: 50%;
  border-top-left-radius: 90%;
  border-bottom-left-radius: 50%;
}

.banner .img_banner {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 999;
}

.banner .img_banner img {
  width: 90%;
}

.banner .banner-content {
  animation: slideLeft 1.5s ease;
}

.banner .button-banner {
  animation: slideCenter 1.5s ease;
}

.banner .img_banner img {
  animation: slideRight 1.5s ease;
}

@keyframes slideCenter {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.home2 {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
  position: relative;
}

.home2 .home2-item {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.home2-all {
  text-align: center;
}

.home2-all .home2-button .btn-top-home2 {
  width: 180px;
  height: 45px;
  background: #FF974A;
  border-radius: 10px;
  border: none;
  transform: translateY(-100%);
  cursor: pointer;
}

.home2-all .home2-button .btn-top-home2:hover {
  background-color: #FA7716;
  transition: all 1s ease;
}

.home2-button .btn-top-home2 p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
}

.home2-all .home2-content h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  line-height: 68px;
  padding-top: 20px;
  color: #000000;
  transform: translateY(-30%);
}

.home2 .flexbox-service {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  padding-top: 50px;
  flex-wrap: wrap;
}

.home2 .flexbox-item .flex-content {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #000000;
}

.home2 .flexbox-item .flex-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.home2 .flexbox-service .flexbox-item {
  padding: 20px;
  flex: 25%;
}

.fix {
  transform: translateY(-18%) !important;
}

.fix2 img {
  transform: translateY(-6%) !important;
}

.fix3 h5 {
  transform: translateY(-45%) !important;
}

.home3 {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
}

.home3 .home3-all {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
}

.home3 .home3-all .home3-left {
  flex: 1;
}

.home3 .home3-all .home3-right {
  flex: 1;
  padding: 50px 0 50px 50px;
}

.home3-all .home3-right img {
  width: 100%;
}

.home3-all .home3-left .title-home3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120px;
  color: #151A3C;
}

.home3 .home3-left .btn-home3 {
  width: 136px;
  height: 50px;
  background: #FF974A;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.home3 .home3-left .btn-home3:hover {
  background-color: #FA7716;
  transition: all 0.5s ease;
}

.home3 .btn-home3 p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.home3 .btn-home3 p:hover {
  font-size: 20px;
  transition: all 0.5s ease;
}

.home3-left .content-home3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #151A3C;
  text-align: justify;
}

.home3 .home3-all .bottom-span {
  margin-top: 40px;
}

.home3-all .bottom-span span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #FA7716;
  cursor: pointer;
}

.home3-all .bottom-span span:hover {
  font-size: 19px;
  transition: all 0.5s ease;
}

.home3-all .bottom-span .contact {
  font-size: 14px;
  color: #FA7716;
  cursor: pointer;
}

.home4 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
}

.home4 .all-home4 {
  width: 100%;
  text-align: center;
}

.home4 .image-home4 {
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
}

.home4 .title-home4 {
  transform: translateY(-30%);
}

.home4 .image-home4 img {
  width: 100%;
}

.home4 .all-home4 .btn-home4 {
  width: 216px;
  height: 53px;
  background: #8F68FF;
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-100%);
  cursor: pointer;
  opacity: 0.9;
}

.home4 .all-home4 .btn-home4:hover {
  opacity: 1;
  transition: all 0.5s ease;
}

.home4 .btn-home4 p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.home4 .btn-home4 p:hover {
  font-size: 20px;
  transition: all 0.5s ease;
}

.home4 .title-home4 h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 110px;
  color: #151A3C;
}

.home4 .title-home4 p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-left: calc((100% - 800px) / 2);
  padding-right: calc((100% - 800px) / 2);
  color: #202857;
}

.home5 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.home5 .all-home5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
}

.home5 .all-home5 .left-home5 {
  flex: 2;
}

.home5 .all-home5 .right-home5 {
  flex: 1;
}

.home5 .left-home5 h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 125%;
  color: #FFFFFF;
}

.home5 .left-home5 p {
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.005em;
  color: #FFFFFF;
  text-align: justify;
}

.home5 .right-home5 {
  display: flex;
  align-items: center;
}

.home5 .square-item {
  width: 200px;
  height: 160px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.home5 .right-home5 .left-item .square-item {
  margin: 20px 0;
}

.home5 .right-home5 .right-item .square-item {
  margin: 20px 50px;
}

.home5 .right-home5 {
  padding-left: 100px;
}

.home5 .square-item > p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin-top: 50px;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.99;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.home5 .square-item > span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  margin-left: 40px;
  opacity: 0.99;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.home5 .all-home5-item {
  width: 100%;
  height: 100%;
}

.home5 .all-home5-item .all-home5 {
  height: 80%;
  background: #0066B2;
  mix-blend-mode: normal;
}

.home5 .all-home5-item .footer-items {
  height: 20%;
  background-color: #FFFFFF;
}

.home6 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #FF9344 0%, #F07E2A 100%);
}

.home6 .all-home6 {
  text-align: center;
  width: 100%;
}

.home6 .all-home6 .top-content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 96px;
  color: #FFFFFF;
  transform: translateY(-30%);
}

.home6 .all-home6 .all-flexbox-home6 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
}

.home6 .flex-item .top-item {
  width: 280px;
  height: 261px;
  background: #202857;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.home6 .flex-item .bottom-item {
  width: 280px;
  height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #FFFFFF;
  cursor: pointer;
}

.flexbox-home6 .bottom-item h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  color: #202857;
}

.flexbox-home6 .bottom-item span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #3D4888;
}

.home7 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/font-chibi.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.home7 .all-home7 {
  width: 100%;
  text-align: center;
  padding: 50px;
  height: 100%;
  box-sizing: border-box;
}

.home7 .button-home7 .btn-home7 {
  margin-top: 10px;
  width: 216px;
  height: 53px;
  background: #8F68FF;
  border-radius: 10px;
  border: none;
}

.home7 .button-home7 p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.home7 .all-home7 .title-home7 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 96px;
  color: #202857;
}

.home7 .all-home7 .back-home7 {
  width: 1140px;
  height: 300px;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px 3px rgba(201, 195, 195, 0.25);
  border-radius: 53px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: left;
  align-items: center;
  margin-top: 50px;
}

.home7 .button-home7 {
  transform: translateY(-100%);
}

.home7 .title-home7 {
  transform: translateY(-50%);
}

.home7 .slider {
  width: 100%;
  height: 65%;
  padding-left: calc((100% - 1040px) / 2);
  padding-right: calc((100% - 1040px) / 2);
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home7 .container-slider {
  margin: 20px 150px 5px;
  border-radius: 25px;
  height: 700px;
  box-shadow: 0px 20px 50px 2px rgba(4, 4, 21, 0.25);
  width: 90%;
  height: 90%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

.home7 .container-slider .slide {
  width: 500%;
  height: 100%;
  position: absolute;
  transition: all 1s ease-in-out;
}

.home7 .container-slider .slide .item-slider {
  float: left;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.home7 .slider .nav {
  width: 80px;
  height: 80px;
  font-size: 80px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.home7 .slider:hover .nav {
  opacity: 1;
}

.home7 .slider .nav:hover {
  color: orangered;
}

.home7 .nxt {
  margin-left: 30px;
}

.home7 .pre {
  margin-right: 30px;
}

.home7 .img-item-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
}

.home7 .img-item-slider img {
  display: block;
  width: 90%;
  height: auto;
  min-height: 30%;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.home7 .content-slider-item {
  display: flex;
  width: 60%;
  height: 100%;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
}

.home7 .content-slider-item h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 23px;
  letter-spacing: -0.005em;
  color: #151A3C;
  text-align: justify;
}

.home7 .content-slider-item p {
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #151A3C;
  text-align: justify;
}

.home8 {
  background-color: #FFFFFF;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.home8 .all-home8 {
  width: 100%;
}

.home8 .all-home8 .content-home8 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 47px;
  line-height: 96px;
  color: #202857;
}

.feedback {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.feedback h2 {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50px;
  margin: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  color: #151A3C;
  text-align: center;
}

.feedback-container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.feedback .slider {
  width: 100%;
  height: 550px;
  padding-left: calc((100% - 1300px) / 2);
  padding-right: calc((100% - 1300px) / 2);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feedback .container-slider {
  height: 100%;
  width: 100%;
  height: 100%;
  padding-left: calc((100% - 1300px) / 2);
  padding-right: calc((100% - 1300px) / 2);
  position: relative;
  overflow: hidden;
}

.feedback .container-slider .slide {
  width: 300%;
  width: 3000px;
  height: 100%;
  position: absolute;
  transition: all 1s ease-in-out;
  display: flex;
}

.feedback .container-slider .slide .item-slider {
  width: calc(16.6666666667% - 40px);
  width: 600px;
  height: 80%;
  border-radius: 25px;
  background-color: #f3f0f0;
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-sizing: border-box;
}

.feedback .slider .nav {
  width: 80px;
  height: 80px;
  font-size: 80px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.feedback .slider:hover .nav {
  opacity: 1;
}

.feedback .block_customer {
  display: flex;
  width: 100%;
  height: 50%;
}

.feedback .slider .nav:hover {
  color: orangered;
}

.feedback .nxt {
  margin: 0 30px;
}

.feedback .pre {
  margin: 0 30px;
}

.feedback .img-item-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 15px;
}

.feedback .img-item-slider img {
  display: block;
  width: 70%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.feedback .block_customer .infomation {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feedback .item-slider .comment {
  width: 100%;
  height: 50%;
}

.feedback .infomation h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  margin: 0;
  color: #151A3C;
  text-align: left;
  margin-left: 20px;
}

.feedback .infomation p {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  color: #151A3C;
  text-align: left;
  margin-left: 20px;
}

.feedback .comment p {
  padding-top: 50px;
  margin: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: #151A3C;
  text-align: justify;
  overflow: hidden;
}

.home9 {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  background-color: #FA7716;
}

.home9 .all-home9 {
  width: 100%;
  text-align: center;
  padding-left: calc((100% - 800px) / 2);
  padding-right: calc((100% - 800px) / 2);
}

.home9 .all-home9 .title-home9 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120px;
  color: #FFFFFF;
}

.home9 .all-home9 .form-input {
  padding: 0 20px;
  border: solid #eee;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  transition: 0.25s ease;
  background-color: #FFFFFF;
}

.home9 .all-home9 .form-input:focus {
  border-color: #6a5af9;
}

.home9 .all-home9 .form-field {
  position: relative;
  margin-top: 20px;
}

.home9 .form-field .form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 21px;
  user-select: none;
  color: #eee;
  pointer-events: none;
  font-size: 20px;
  transition: 0.25s ease;
}

.home9 .form-field .form-input:focus + .form-label {
  top: -10px;
  left: 11px;
  padding: 0 10px;
  display: inline-block;
  background-color: inherit;
  color: #6a5af9;
}

.home9 .button-home9 .btn-home9 {
  width: 240px;
  height: 60px;
  margin-top: 50px;
  background: #FA7716;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.9;
}

.home9 .button-home9 .btn-home9:hover {
  opacity: 1;
}

.home9 .button-home9 p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  letter-spacing: -0.065em;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
}

.footer .all_footer {
  width: 100%;
  height: 100%;
}

.footer .all_footer .top {
  width: 100%;
  height: 80%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
}

.footer .all_footer .bottom {
  width: 100%;
  height: 20%;
  background-color: #202857;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-img {
  width: 70%;
  transform: translateX(-10%);
}

.footer .first .content-img h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.005em;
  color: #202857;
  padding-top: 50px;
}

.footer .footer-item h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.065em;
  color: #202857;
  padding-bottom: 60px;
}

.footer .footer-item p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.065em;
  color: #202857;
}

.build {
  margin-bottom: 40px;
}

.footer .all_footer .bottom span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.005em;
  color: #FA7716;
}

.aboutus {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
}

.aboutus .all_aboutus {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
}

.aboutus .all_aboutus .left {
  width: 50%;
}

.aboutus .content-aboutus h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #3E5AFE;
}

.aboutus .content-aboutus h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 96px;
  color: #151A3C;
}

.aboutus .content-aboutus p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #151A3C;
  padding-top: 40px;
  text-align: justify;
}

.aboutus .all_aboutus .right {
  width: 50%;
}

.aboutus .right .img-about {
  width: 100%;
}

.aboutus .right .image-aboutus {
  padding: 50px;
}

.aboutus_2 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.aboutus_2 .all-aboutus_2 {
  width: 100%;
  height: 100%;
}

.aboutus_2 .all-aboutus_2 .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus_2 .first .content-left h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #3E5AFE;
}

.aboutus_2 .first .content-left h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 75px;
  color: #202857;
}

.aboutus_2 .first .content-left p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #202857;
}

.aboutus_2 .first .right-oval {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .all-aboutus_2 .second {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus_2 .second .content-right {
  width: 50%;
}

.aboutus_2 .second .image-oval {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .content-right h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #3E5AFE;
}

.aboutus_2 .content-right h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 75px;
  color: #202857;
}

.aboutus_2 .content-right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #202857;
  text-align: justify;
}

.aboutus_2 .third .content-right {
  width: 50%;
}

.aboutus_2 .all-aboutus_2 .third {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus_2 .third .image-oval {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .all-aboutus_2 .four {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutus_2 .four .left-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .all-aboutus_2 .all-aboutus_2-item {
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  height: 90%;
}

.aboutus_2 .all-aboutus_2 .five {
  height: 150px;
  margin-top: 100px;
  background: #FFFFFF;
  border: 2px solid #DEDEDE;
}

.aboutus_2 .content-item {
  padding-right: calc((100% - 450px) / 2);
}

.aboutus_2 .footer-items-about {
  padding-top: 50px;
}

.aboutus_2 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.aboutus_2 .all-aboutus_2 {
  width: 100%;
  height: 100%;
}

.aboutus_2 .all-aboutus_2 .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus_2 .first .content-left h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #3E5AFE;
}

.aboutus_2 .first .content-left h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 75px;
  color: #202857;
}

.aboutus_2 .first .content-left p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #202857;
}

.aboutus_2 .first .right-oval {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .all-aboutus_2 .second {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus_2 .second .content-right {
  width: 50%;
}

.aboutus_2 .second .image-oval {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .content-right h5 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #3E5AFE;
}

.aboutus_2 .content-right h3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 75px;
  color: #202857;
}

.aboutus_2 .content-right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #202857;
  text-align: justify;
}

.aboutus_2 .third .content-right {
  width: 50%;
}

.aboutus_2 .all-aboutus_2 .third {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutus_2 .third .image-oval {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .all-aboutus_2 .four {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.aboutus_2 .four .left-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #F07E2A;
}

.aboutus_2 .all-aboutus_2 .all-aboutus_2-item {
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  height: 90%;
}

.aboutus_2 .all-aboutus_2 .five {
  height: 150px;
  margin-top: 100px;
  background: #FFFFFF;
  border: 2px solid #DEDEDE;
}

.aboutus_2 .content-item {
  padding-right: calc((100% - 450px) / 2);
}

.aboutus_2 .footer-items-about {
  padding-top: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1250px);
  }
}
.footer_items {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.footer_items::before, .footer_items::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.footer_items::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.footer_items::before {
  left: 0;
  top: 0;
}
.footer_items .footer_item-track {
  animation: scroll 20s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1250px;
  height: 100%;
}
.footer_items .footer_item {
  height: 100px;
  width: 250px;
}

@media (min-width: 1750px) {
  .navbar .nav {
    height: 150px;
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .banner .banner-content {
    top: 45%;
    padding-left: calc((100% - 1700px) / 2);
  }
  .banner .img_banner img {
    width: 100%;
    margin-top: 50px;
  }
  .nav .nav-items li a {
    font-size: 30px;
  }
  .navbar .btn-button {
    width: 135px;
    height: 55px;
    border: none;
  }
  .navbar .btn-button p {
    font-size: 30px;
  }
  .banner .banner-content h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #FFFFFF;
  }
  .banner .banner-content .button-banner {
    width: 250px;
    height: 50px;
  }
  .home3 .home3-all {
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .home3 .home3-left .btn-home3 {
    width: 200px;
    height: 65px;
  }
  .home3 .btn-home3 p {
    font-size: 20px;
  }
  .home3-all .home3-left .title-home3 {
    font-size: 64px;
    line-height: 180px;
  }
  .home3-left .content-home3 {
    font-size: 18px;
    padding-right: calc((100% - 550px) / 2);
    line-height: 35px;
  }
  .home3-all .bottom-span span {
    font-size: 20px;
  }
  .home3-all .bottom-span .contact {
    font-size: 18px;
    color: #FA7716;
    cursor: pointer;
  }
  .home2-all .home2-button .btn-top-home2 {
    width: 250px;
    height: 60px;
  }
  .home2-button .btn-top-home2 p {
    font-size: 20px;
  }
  .home2-all .home2-content h3 {
    font-size: 45px;
  }
  .home2 .flexbox-service {
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .home2 .flexbox-service .flexbox-item {
    flex: 25%;
    padding: 50px;
  }
  .home2 .flexbox-item .flex-content {
    margin: 20px 0;
    font-size: 28px;
  }
  .home2 .flexbox-item .flex-item {
    font-size: 18px;
  }
  .home4 .image-home4 {
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .home4 .title-home4 p {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
  .home4 .title-home4 h3 {
    font-size: 64px;
    line-height: 150px;
  }
  .home4 .btn-home4 p {
    font-size: 20px;
    line-height: 35px;
  }
  .home5 .all-home5 {
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .home5 .left-home5 h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 125%;
    color: #FFFFFF;
  }
  .home5 .left-home5 p {
    font-size: 20px;
    line-height: 25px;
    padding-right: calc((100% - 500px) / 2);
  }
  .home5 .square-item {
    width: 250px;
    height: 185px;
    border-radius: 20px;
  }
  .home5 .square-item > p {
    margin-top: 50px;
    font-size: 30px;
  }
  .home5 .square-item > span {
    margin-left: 50px;
    font-size: 22px;
  }
  .home6 .all-home6 .all-flexbox-home6 {
    gap: 30px;
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .home6 .all-home6 .top-content {
    font-size: 64px;
    line-height: 130px;
  }
  .home6 .flex-item .top-item {
    width: 400px;
    height: 370px;
  }
  .home6 .flex-item .bottom-item {
    width: 400px;
    height: 150px;
  }
  .home6 .flex-item .bottom-item {
    padding-top: 30px;
  }
  .flexbox-home6 .bottom-item h5 {
    font-size: 30px;
    line-height: 48px;
  }
  .flexbox-home6 .bottom-item span {
    font-size: 20px;
    line-height: 30px;
  }
  .home9 .all-home9 {
    padding-left: calc((100% - 1400px) / 2);
    padding-right: calc((100% - 1400px) / 2);
  }
  .home9 .all-home9 .form-input {
    padding: 0 20px;
    border: solid #eee;
    border-radius: 10px;
    width: 100%;
    height: 80px;
  }
  .home9 .all-home9 .title-home9 {
    font-size: 64px;
    line-height: 150px;
  }
  .home9 .button-home9 .btn-home9 {
    width: 300px;
    height: 80px;
    border-radius: 15px;
  }
  .footer .all_footer .top {
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .footer .first .content-img h5 {
    font-size: 37px;
    line-height: 40px;
    padding-top: 50px;
  }
  .footer .footer-item h5 {
    font-size: 35px;
    line-height: 37px;
    padding-bottom: 60px;
  }
  .footer .footer-item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
  }
  .aboutus .all_aboutus {
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .aboutus .content-aboutus h4 {
    font-size: 30px;
    line-height: 60px;
  }
  .aboutus .content-aboutus h1 {
    font-size: 64px;
    line-height: 96px;
  }
  .aboutus .content-aboutus p {
    font-size: 20px;
    line-height: 35px;
    padding-right: calc((100% - 600px) / 2);
  }
  .aboutus .right .img-about {
    width: 100%;
  }
  .aboutus_2 .all-aboutus_2 .all-aboutus_2-item {
    padding-left: calc((100% - 1700px) / 2);
    padding-right: calc((100% - 1700px) / 2);
  }
  .aboutus_2 .first .content-left h5 {
    font-size: 35px;
    line-height: 62px;
  }
  .aboutus_2 .first .content-left h3 {
    font-size: 50px;
    line-height: 80px;
  }
  .aboutus_2 .first .content-left p {
    font-size: 20px;
    line-height: 30px;
  }
  .aboutus_2 .first .right-oval {
    width: 650px;
    height: 650px;
  }
  .aboutus_2 .second .image-oval {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #F07E2A;
  }
  .aboutus_2 .content-right h5 {
    font-size: 35px;
    line-height: 62px;
  }
  .aboutus_2 .content-right h3 {
    font-size: 50px;
    line-height: 80px;
  }
  .aboutus_2 .content-right p {
    font-size: 20px;
    line-height: 30px;
  }
  .aboutus_2 .third .image-oval {
    width: 450px;
    height: 450px;
  }
  .aboutus_2 .four .left-image {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 1250px) and (max-width: 1530px) {
  .banner .square {
    left: -250px;
    top: 13.5%;
  }
  .banner .square-right {
    position: absolute;
    width: 100vh;
    height: 85vh;
    bottom: 0;
    right: 0;
    background: #FC8833;
    border-top-right-radius: 60%;
    border-top-left-radius: 90%;
    border-bottom-left-radius: 50%;
  }
  .banner .img_banner img {
    width: 100%;
  }
}
@media (max-width: 1249px) {
  .navbar .nav {
    height: 80px;
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
  .nav .nav-items li a {
    text-decoration: none;
    margin-left: 39px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #151A3C;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .banner .banner-content {
    top: 40%;
    padding-left: calc((100% - 1000px) / 2);
  }
  .banner .banner-content h1 {
    font-size: 40px;
  }
  .banner .banner-content .button-banner {
    width: 170px;
    height: 35px;
  }
  .banner .img_banner img {
    width: 100%;
  }
  .banner .square-right {
    width: 110vh;
    height: 85vh;
  }
  .home3 .home3-all {
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
  .home3-all .home3-left .title-home3 {
    font-size: 50px;
    line-height: 100px;
  }
  .home3 .home3-left .btn-home3 {
    width: 130px;
    height: 45px;
  }
  .home3 .btn-home3 p {
    font-size: 16px;
  }
  .home3-all .bottom-span span {
    font-size: 16px;
    line-height: 10px;
  }
  .home2-all .home2-button .btn-top-home2 {
    width: 170px;
    height: 40px;
  }
  .home2-all .home2-content h3 {
    font-size: 38px;
    line-height: 60px;
  }
  .home2 .flexbox-service {
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
  .home2 .flexbox-item .flex-content {
    margin: 20px 0;
    font-size: 20px;
  }
  .home2 .flexbox-item .flex-item {
    font-size: 14px;
  }
  .home4 .image-home4 {
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
  .home4 .all-home4 .btn-home4 {
    width: 200px;
    height: 48px;
  }
  .home4 .btn-home4 p {
    font-size: 16px;
    line-height: 25px;
  }
  .home4 .title-home4 h3 {
    font-size: 45px;
    line-height: 90px;
  }
  .home4 .title-home4 p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-left: calc((100% - 870px) / 2);
    padding-right: calc((100% - 870px) / 2);
  }
  .home5 .all-home5 {
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
  .home5 .left-home5 h3 {
    font-size: 37px;
    line-height: 100%;
  }
  .home5 .left-home5 p {
    font-size: 18px;
    line-height: 18px;
  }
  .home5 .right-home5 {
    padding-left: 45px;
  }
  .home6 .all-home6 .all-flexbox-home6 {
    gap: 10px;
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
  .home6 .flex-item .top-item {
    width: 230px;
    height: 220px;
  }
  .home6 .flex-item .bottom-item {
    width: 230px;
    height: 80px;
  }
  .home9 .button-home9 .btn-home9 {
    width: 200px;
    height: 50px;
  }
  .home9 .all-home9 .title-home9 {
    font-size: 45px;
    line-height: 120px;
  }
  .home9 .all-home9 .form-input {
    height: 40px;
  }
  .home9 .all-home9 {
    padding-left: calc((100% - 700px) / 2);
    padding-right: calc((100% - 700px) / 2);
  }
  .aboutus .all_aboutus {
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
  .aboutus .content-aboutus h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .aboutus .content-aboutus h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .aboutus .content-aboutus p {
    font-size: 16px;
    line-height: 25px;
    padding-top: 20px;
  }
  .aboutus_2 .first .content-left h5 {
    font-size: 21px;
    line-height: 45px;
  }
  .aboutus_2 .first .content-left h3 {
    font-size: 30px;
    line-height: 65px;
  }
  .aboutus_2 .first .content-left p {
    font-size: 16px;
    line-height: 20px;
  }
  .aboutus_2 .first .right-oval {
    width: 420px;
    height: 420px;
  }
  .aboutus_2 .second .image-oval {
    width: 350px;
    height: 350px;
  }
  .aboutus_2 .content-right h5 {
    font-size: 21px;
    line-height: 45px;
  }
  .aboutus_2 .content-right h3 {
    font-size: 30px;
    line-height: 65px;
  }
  .aboutus_2 .content-right p {
    font-size: 16px;
    line-height: 20px;
  }
  .aboutus_2 .third .image-oval {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .aboutus_2 .four .left-image {
    width: 250px;
    height: 250px;
  }
  .aboutus_2 .all-aboutus_2 .all-aboutus_2-item {
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
  }
}
.banner_contact {
  width: 100%;
  height: 90vh;
  background-color: #1E57EA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_contact h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 23px;
  letter-spacing: -0.005em;
  color: #fff;
}

.main-contact {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.cooperate {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cooperate .cooperate-content {
  margin: 0 10%;
  flex: 1;
  overflow: hidden;
}

.cooperate .cooperate-content h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 120px;
  color: #151A3C;
  margin-right: 20px;
}

.cooperate .cooperate-content p {
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #151A3C;
  text-align: justify;
}

.cooperate .cooperate-block {
  flex: 1;
  width: 40%;
  height: 550px;
  background-color: #FA7716;
  margin: 10%;
  border-radius: 25px;
}

.container-map {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.container-map iframe {
  width: 100%;
  height: 70%;
  margin: 0 200px 100px;
  min-width: 500px;
}

.contact-block {
  background-color: #FA7716;
  color: #fff;
  display: flex;
  min-width: 600px;
  margin: 0;
  height: 90vh;
  min-height: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.contact-block .infomation {
  width: 50%;
  min-width: 600px;
  height: 100%;
  position: relative;
  padding: 2em;
  font-size: 32px;
  display: flex;
  flex-direction: column;
}

.infomation h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  padding: 20px 0;
}

.contact-block .infomation .item-contact {
  margin-top: 20px;
  width: 90%;
  height: 30%;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  min-width: 500px;
}

.contact-block .infomation .item-left {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
}

.contact-block .infomation .item-right {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #151A3C;
}

.contact-block .infomation .item-right h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}

.contact-block .infomation .item-right p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  max-width: 300px;
}

.item-left .icon {
  width: 100%;
  height: 50%;
  font-size: 100px;
  color: black;
  display: flex;
  justify-content: center;
}

.contact-block .contact-container {
  box-sizing: border-box;
  width: 50%;
  min-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-block .contact-container .frm-contact {
  width: 70%;
  height: 90%;
  background-color: #fff;
  border-radius: 25px;
  color: #151A3C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact-block .frm-contact h2 {
  padding: 40px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.contact-block .frm-contact input, select, textarea {
  background-color: #D9D9D9;
  width: 90%;
  min-height: 80px;
  margin: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 25px;
  resize: none;
  padding: 10px;
}

.contact-block .frm-contact .btn-submit-contact {
  background-color: #FA7716;
  width: 80%;
  min-height: 80px;
  margin: 20px 0;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 40px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.contact-block .frm-contact .btn-submit-contact:hover {
  opacity: 0.8;
}

.frm-contact input::placeholder {
  padding: 10px;
}

.slide-cooperation-branch {
  width: 100vw;
  height: 20vh;
}

.slide-cooperation-branch .footer-items {
  height: 100%;
  background-color: #FFFFFF;
}

.banner_blog {
  width: 100%;
  height: 90vh;
  background-color: #1E57EA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_blog h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 23px;
  letter-spacing: -0.005em;
  color: #fff;
}

.topics {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topic-container {
  width: calc(100% - 40px);
  height: auto;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.topics .item-topic {
  position: relative;
  flex: 33%;
  display: flex;
  margin: 20px;
  max-width: 650px;
  min-width: 650px;
  min-height: 400px;
  box-sizing: border-box;
}

.image-item {
  background-color: rgb(232, 233, 235);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.overlay-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s;
}

.overlay-item > * {
  transform: translateY(250px);
  transition: transform 0.25s;
}

.overlay-item:hover {
  opacity: 1;
}

.overlay-item:hover > * {
  transform: translateY(0);
}

.title-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  padding: 20px 0;
  color: #fff;
}

.content-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 250px;
}

.pagination li {
  display: inline-block;
  margin: 5px;
}

.pagination li a {
  text-decoration: none;
  font-size: 24px;
}

.pagination .cur-page, .pagination .dots {
  background-color: #ccc;
  width: 50px;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 0.1);
  border-radius: 25px;
}

.pagination .cur-page a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #fff;
}

.pagination .dots a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #fff;
}

.pagination .pre-page, .pagination .nxt-page {
  font-size: 70px;
  background-color: #fff;
  box-shadow: none;
  color: #FA7716;
  transition: 0.4s ease;
}

.pre-page a:hover {
  color: #D04E27;
}

.nxt-page a:hover {
  color: #D04E27;
}

.cur-page:hover, .dots:hover {
  width: 70px;
}

.active {
  background-color: #FA7716 !important;
}

.disable {
  opacity: 0.5;
}

.pagination .disable a {
  color: #ccc;
}

.banner-child-blog {
  width: 100%;
  height: 90vh;
  background-color: #D9D9D9;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-child-blog h1 {
  font-weight: 700;
  font-size: 47px;
  line-height: 23px;
  letter-spacing: -0.005em;
  color: rgb(0, 0, 0);
}

.banner-child-blog a {
  color: #3E5AFE;
  font-weight: 700;
  font-size: 25px;
  line-height: 23px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 80px;
}

.component-post {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.component-post .main-post {
  flex: 60%;
  height: auto;
  display: flex;
}

.component-post .main-post .main-post-container {
  flex: 100%;
  margin: 50px;
  padding-left: calc((100% - 1200px) / 2);
  padding-right: calc((100% - 1200px) / 2);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.component-post .main-post .main-post-container a {
  font-weight: 400;
  line-height: 30px;
  font-size: 25px;
  color: #3E5AFE;
  margin-left: 20px;
  text-decoration: none;
}

.component-post .main-post .main-post-container h2 {
  font-weight: 500;
  line-height: 80px;
  font-size: 35px;
  color: #202857;
  margin-left: 30px;
}

.component-post .main-post .main-post-container .content p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 35px;
  font-size: 25px;
  color: #484848;
}

.component-post .main-post .main-post-container .content {
  width: 90%;
  height: auto;
  margin-left: 10%;
}

.component-post .main-post .main-post-container .interactive {
  display: flex;
  justify-content: space-between;
}

.component-post .main-post .main-post-container img {
  width: 90%;
  height: 450px;
  border-radius: 26px;
  margin: 0 5%;
}

.component-post .main-post .main-post-container .info {
  width: auto;
  height: 50px;
  margin: 30px 10%;
  display: flex;
  justify-content: space-between;
}

.component-post .main-post .main-post-container .info .c-date {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.component-post .main-post .main-post-container .info .c-date span {
  font-size: 32px;
  color: #3E5AFE;
}

.component-post .main-post .main-post-container .info .c-date p {
  font-size: 23px;
  margin-left: 20px;
}

.component-post .main-post .main-post-container .info .owner {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.component-post .main-post .main-post-container .info .owner span {
  font-size: 32px;
  color: #3E5AFE;
}

.component-post .main-post .main-post-container .info .owner p {
  font-size: 23px;
  margin-left: 20px;
}

.component-post .main-post .main-post-container .info .sign {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.component-post .main-post .main-post-container .info .sign span {
  font-size: 32px;
  color: #3E5AFE;
}

.component-post .main-post .main-post-container .info .sign p {
  font-size: 23px;
  margin-left: 20px;
}

.component-post .highlight-post {
  flex: 40%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.component-post .highlight-post h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.component-post .highlight-post .search-bar {
  margin: 50px 0;
  width: 80%;
  height: 50px;
}

.component-post .highlight-post .search-bar form {
  width: 100%;
  height: 100%;
}

.component-post .highlight-post .search-bar input {
  width: 80%;
  height: 100%;
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  border: 4px solid #D1C9C9;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 45px;
}

.component-post .highlight-post .search-bar input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 45px;
  color: #8F8F8F;
}

.component-post .highlight-post .search-bar button {
  background-color: #F07E2A;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  margin-left: -20px;
  cursor: pointer;
  border: none;
}

.component-post .highlight-post .highlight-post-container {
  width: 100%;
  padding-left: calc((100% - 800px) / 2);
  padding-right: calc((100% - 800px) / 2);
  height: auto;
  margin-top: 30px;
}

.component-post .highlight-post .highlight-post-container .item-post {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  background: #FFFFFF;
  border-bottom: 3px solid #E9E9E9;
}

.component-post .highlight-post .highlight-post-container .item-post .item-left {
  display: flex;
  flex: 40%;
  height: 250px;
  justify-content: space-around;
  align-items: center;
}

.component-post .highlight-post .highlight-post-container .item-post .item-left img {
  width: 250px;
  height: 220px;
  border-radius: 20px;
}

.component-post .highlight-post .highlight-post-container .item-post .item-right {
  display: flex;
  flex: 60%;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.component-post .highlight-post .highlight-post-container .item-post .item-right h2 {
  margin-left: 10px;
  font-weight: 500;
  font-size: 47px;
  color: #202857;
}

.component-post .highlight-post .highlight-post-container .item-post .item-right p {
  margin-left: 10px;
  font-weight: 150;
  font-size: 23px;
  color: #B8B8B8;
}

.component-post .highlight-post .categortires-container {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.component-post .highlight-post .categortires-container h2 {
  margin: 40px 0;
  font-weight: 700;
  font-size: 40px;
  color: #151A3C;
}

.component-post .highlight-post .categortires-container .item-category {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  border-bottom: 2px solid #E9E9E9;
  display: flex;
  justify-content: space-between;
}

.component-post .highlight-post .categortires-container .item-category h6 {
  font-weight: 450;
  font-size: 38px;
  color: #151A3C;
  margin: 20px;
}

.component-post .highlight-post .categortires-container .item-category p {
  font-weight: 400;
  font-size: 38px;
  color: #151A3C;
  margin: 15px 0 15px;
}

/*# sourceMappingURL=app.css.map */
