.banner {
    width: 100%;
    height: 100vh;
    background-color: $primary;
    position: relative;
}

.banner .banner-top {
    background-color: $primary;
    width: 100%;
    height: 85%;
}

.banner .banner-bottom {
    background-color: $font-bottom;
    height: 15%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: inherit;
    z-index: 99;
    position: relative;
}

.banner .banner-content {
    position: absolute;
    top: 35%;
    z-index: 99;
    padding-left: calc(calc(100% - 1200px)/2);
}

.banner .square {
    position: absolute;
    width: 47vh;
    height: 47vh;
    left: -140px;
    top: 13.5%;
    background: $square;
    border-radius: 50%;
    // border-top-right-radius: 50%;
    // border-bottom-right-radius: 50%;
}

.banner .banner-content h1 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: $white-contact;
}

.banner .banner-content .button-banner {
    position: absolute;
    width: 200px;
    height: 40px;
    background: $white-contact;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    opacity: 0.9;
}

.banner .banner-content .button-banner:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

.banner .button-banner p {
    margin-left: -50px;
    font-family: $font-text;
    font-weight: 400;
    font-size: 16px;
    color: $third;
}

.banner .button-banner .alo {
    position: absolute;
    font-size: 15px;
    color: $third;
    margin-left: 30px;
    margin-top: -16px;
}

.banner .square-right {
    position: absolute;
    width: 125vh;
    height: 85vh;
    bottom: 0;
    right: 0;
    background: $square;
    border-top-right-radius: 50%;
    border-top-left-radius: 90%;
    border-bottom-left-radius: 50%;
}

.banner .img_banner {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 999;
}

.banner .img_banner img {
    width: 90%;
}

// transition

.banner .banner-content {
    animation: slideLeft 1.5s ease;
}

.banner .button-banner {
    animation: slideCenter 1.5s ease;
}

.banner .img_banner img {
    animation: slideRight 1.5s ease;
}


@keyframes slideCenter {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}