//slide cooperation branch
.slide-cooperation-branch {
    width: 100vw;
    height: 20vh;
}

.slide-cooperation-branch .footer-items {
    height: 100%;
    background-color: $white-contact;
}
// banner blog
.banner_blog {
  width: 100%;
  height: 90vh;
  background-color: #1E57EA;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_blog h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 23px;
  letter-spacing: -0.005em;
  color: #fff;
}
// topics
.topics {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
//item
.topic-container {
  width: calc(100% - 40px);
  height:auto;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.topics .item-topic {
  position: relative;
  flex:33%;
  display: flex;
  margin: 20px;
  max-width: 650px;
  min-width: 650px;
  min-height: 400px;
  box-sizing: border-box;
}

.image-item {
  background-color: rgb(232,233,235);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  
}
.overlay-item {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  
  transition: opacity 0.25s;
}
.overlay-item > *{
  transform: translateY(250px);
  transition: transform 0.25s;
}
.overlay-item:hover {
  opacity: 1;
}

.overlay-item:hover > * {
  transform: translateY(0);
}
.title-item {
  font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 35px;
   padding: 20px 0;
   color:#fff;
}
.content-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 250px;

}

.pagination li {
  display: inline-block;
  margin: 5px;
}

.pagination li a {
  text-decoration: none;
  font-size: 24px;
}
.pagination .cur-page, .pagination .dots {
  background-color: #ccc;
  width: 50px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 10%);
  border-radius:25px;
}
.pagination .cur-page a {
  font-family: $font-text;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #fff;
}
.pagination .dots a {
  font-family: $font-text;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 52px;
  color: #fff;
}

.pagination .pre-page a, .pagination .nxt-page a {
  font-size: 70px;
  background-color: #fff;
  box-shadow: none;
  color: $primary;
  transition: 0.4s ease;
}
.pre-page a:hover {
  color: #D04E27;
}
.nxt-page a:hover {
  color: #D04E27;
}
.cur-page:hover, .dots:hover {
  width: 70px;
}
.active {
  background-color: $primary !important;
}
.disable {
  opacity: 0.5;
}
.pagination .disable a{
  color: #ccc;
}