.banner-child-blog {
    width: 100%;
    height: 90vh;
    background-color: $home-air;
    position: relative;
    font-family: $font-text;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-child-blog h1 {
    font-weight: 700;
    font-size: 47px;
    line-height: 23px;
    letter-spacing: -0.005em;
    color: rgb(0, 0, 0);
}
.banner-child-blog a {
    color: $color-text;
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 80px;
}
// posts
.component-post {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.component-post .main-post {
    // border: 1px solid green;
    flex: 60%;
    height: auto;
    display: flex;
}
.component-post .main-post .main-post-container {
    // border: 1px black solid;
    flex: 100%;
    margin: 50px;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    font-family: $font-text;
    font-style: normal;

}
.component-post .main-post .main-post-container a{
    font-weight: 400;
    line-height: 30px;
    font-size: 25px;
    color: $color-text;
    margin-left: 20px;
    text-decoration: none;
}
.component-post .main-post .main-post-container h2{
    font-weight: 500;
    line-height: 80px;
    font-size: 35px;
    color: #202857;
    margin-left: 30px;
}
.component-post .main-post .main-post-container .content p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 35px;
    font-size: 25px;
    color: #484848;
}
.component-post .main-post .main-post-container .content {
    width: 90%;
    height: auto;
    margin-left: 10%;
}
.component-post .main-post .main-post-container img{
    width: 90%;
    height: 340px;
    border-radius: 26px;
    margin:0 5%;

}
.component-post .main-post .main-post-container .info{
    border: 1px solid red;
    width: 80%;
    height: 50px;
    margin: 0 10%;
}

.component-post .highlight-post {
    border: 1px solid rgb(0, 0, 0);
    flex: 40%;
}
.component-post .infomation-post {
    border: 1px solid red;
    flex: 100%;
}