.banner-child-blog {
    width: 100%;
    height: 90vh;
    background-color: $home-air;
    position: relative;
    font-family: $font-text;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-child-blog h1 {
    font-weight: 700;
    font-size: 47px;
    line-height: 23px;
    letter-spacing: -0.005em;
    color: rgb(0, 0, 0);
}
.banner-child-blog a {
    color: $color-text;
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 80px;
}
// posts
.component-post {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.component-post .main-post {
    // border: 1px solid green;
    flex: 60%;
    height: auto;
    display: flex;
}
.component-post .main-post .main-post-container {
    // border: 1px black solid;
    flex: 100%;
    margin: 50px;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    font-family: $font-text;
    font-style: normal;

}
.component-post .main-post .main-post-container a{
    font-weight: 400;
    line-height: 30px;
    font-size: 25px;
    color: $color-text;
    margin-left: 20px;
    text-decoration: none;
}
.component-post .main-post .main-post-container h2{
    font-weight: 500;
    line-height: 80px;
    font-size: 35px;
    color: #202857;
    margin-left: 30px;
}
.component-post .main-post .main-post-container .content p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 35px;
    font-size: 25px;
    color: #484848;
}
.component-post .main-post .main-post-container .content {
    width: 90%;
    height: auto;
    margin-left: 10%;
}
.component-post .main-post .main-post-container .interactive {
    display:flex;
    justify-content: space-between;
}
.component-post .main-post .main-post-container .interactive .item-views{

}
.component-post .main-post .main-post-container .interactive .item-contact {
    
}
.component-post .main-post .main-post-container .interactive .item-tag {

}
.component-post .main-post .main-post-container img{
    width: 90%;
    height: 450px;
    border-radius: 26px;
    margin:0 5%;

}
.component-post .main-post .main-post-container .info{
    width: auto;
    height: 50px;
    margin: 30px 10%;
    display: flex;
    justify-content: space-between;
}
.component-post .main-post .main-post-container .info .c-date {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.component-post .main-post .main-post-container .info .c-date span{
    font-size: 32px;
    color: $color-text;
}
.component-post .main-post .main-post-container .info .c-date p {
    font-size: 23px;
    margin-left: 20px;
}
.component-post .main-post .main-post-container .info .owner {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.component-post .main-post .main-post-container .info .owner span {
    font-size: 32px;
    color: $color-text;
}
.component-post .main-post .main-post-container .info .owner p {
    font-size: 23px;
    margin-left: 20px;
}
.component-post .main-post .main-post-container .info .sign {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.component-post .main-post .main-post-container .info .sign span {
    font-size: 32px;
    color: $color-text;
}
.component-post .main-post .main-post-container .info .sign p {
    font-size: 23px;
    margin-left: 20px;
}

.component-post .highlight-post {
    flex: 40%;
    display:flex;
    flex-direction: column;
    height: auto;
}
.component-post .highlight-post h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.component-post .highlight-post .search-bar {
    margin: 50px 0;
    width: 80%;
    height:50px;

}
.component-post .highlight-post .search-bar form {
    width:100%;
    height: 100%;
}
.component-post .highlight-post .search-bar input {
    width:80%;
    height: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    background-color:#fff;
    border: 4px solid #D1C9C9;
    padding: 10px;
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 45px;
}
.component-post .highlight-post .search-bar input::placeholder{
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 45px;
    color: #8F8F8F;
}
.component-post .highlight-post .search-bar button {
    background-color: $third;
    width:20%;
    height: 100%;
    border-radius: 10px;
    margin-left: -20px;
    cursor: pointer;
    border: none;
}

.component-post .highlight-post .highlight-post-container {
  width: 100%;
  padding-left: calc((100% - 800px) / 2);
  padding-right: calc((100% - 800px) / 2);
  height: auto;
  margin-top: 30px;
}
.component-post .highlight-post .highlight-post-container .item-post {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  height: auto;
  background: #FFFFFF;
  border-bottom: 3px solid #E9E9E9;
//   background-color: pink;
}
.component-post .highlight-post .highlight-post-container .item-post .item-left {
    // border: 1px solid red;
    display: flex;
    flex: 40%;
    height: 250px;
    justify-content: space-around;
    align-items: center;
}
.component-post .highlight-post .highlight-post-container .item-post .item-left img {
    // background-color:red;
    width:250px;
    height: 220px;
    border-radius: 20px;
}
.component-post .highlight-post .highlight-post-container .item-post .item-right {
    // border: 1px solid yellow;
    display: flex;
    flex:60%;
    justify-content: center;
    flex-direction: column;
    font-family: $font-text;
    font-style: normal;
}
.component-post .highlight-post .highlight-post-container .item-post .item-right h2{
    margin-left: 10px;
    font-weight: 500;
    font-size: 47px;
    color:#202857;
}
.component-post .highlight-post .highlight-post-container .item-post .item-right p {
    margin-left: 10px;
    font-weight: 150;
    font-size: 23px;
    color:#B8B8B8;
}
.component-post .highlight-post .categortires-container {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.component-post .highlight-post .categortires-container h2 {
    margin: 40px 0;
    font-weight: 700;
    font-size: 40px;
    color: #151A3C;
}
.component-post .highlight-post .categortires-container .item-category {
    width:90%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    border-bottom: 2px solid #E9E9E9;
    display: flex;
    justify-content: space-between;
}
.component-post .highlight-post .categortires-container .item-category h6 {
    font-weight: 450;
    font-size: 38px;
    color: #151A3C;
    margin: 20px;
}
.component-post .highlight-post .categortires-container .item-category p {
    font-weight: 400;
    font-size: 38px;
    color: #151A3C;
    margin: 15px 0 15px;
}