.feedback{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.feedback h2{
    font-family: $font-text;
    width: 100%;
    height: 50px;
    margin: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    // line-height: 23px;
    color: $second-primary;
    text-align: center;
}
.feedback-container {
    text-align: center;
    width: 100%;
    height: 100%;
}
.feedback .slider {
    width: 100%;
    height: 600px;
    padding-left: calc(calc(100% - 1240px)/2);
    padding-right: calc(calc(100% - 1240px)/2);
    // position: relative;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.feedback .container-slider {
    margin: 20px 150px 5px ;
    border-radius: 25px;
    height: 100%;
    box-shadow: 0px 20px 50px 2px rgba(4, 4, 21, 0.25);
    width: 100%;
    height: 100%;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
  }
.feedback .container-slider .slide {
    width: 300%;
    height: 100%;
    position: absolute;
    transition: all 1s ease-in-out;
  }

.feedback .container-slider .slide .item-slider {
    float: left;
    width: calc(100% / 6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #fff;
    // box-shadow: 0px 10px 10px 2px rgba(15, 13, 13, 0.25);
    
  }
.feedback .slider .nav {
    // position: absolute;
    // top: 40%;
    width: 80px;
    height: 80px;
    // line-height: 60px;
    font-size: 80px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }

.feedback .slider:hover .nav {
    opacity: 1;
  }

.feedback .slider .nav:hover {
    color: orangered;
  }

.feedback .nxt {
    margin-left: 30px;
  }
.feedback .pre {
    margin-right:30px ;
  }
.feedback .img-item-slider {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:40%;
        height: 100%;
    }
.feedback .img-item-slider img {
        display: block;
        width: 90%;
        height: auto;
        min-height: 30%;
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        
    }
.feedback .content-slider-item {
        display:flex;
        width: 60%;
        height:100%;
        padding: 50px;
        flex-direction: column;
        justify-content: center;
    }
 .feedback .content-slider-item h2{
        font-family: $font-text;
        font-style: normal;
        font-weight: 700;
        font-size: 47px;
        line-height: 23px;
        letter-spacing: -0.005em;
        color: $second-primary;
        text-align: justify;
    }
.feedback .content-slider-item p {
        padding-top: 50px;
        font-family: $font-text;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.005em;
        color: $second-primary;
        text-align: justify;
    }
