.home6{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #FF9344 0%, #F07E2A 100%);
    position: relative;
}

.home6 .all-home6{
    text-align: center;
    width: 100%;
}

.home6 .all-home6 .top-content {
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 96px;
    color: $white-contact;
    transform: translateY(-30%);
}

.home6 .all-home6 .all-flexbox-home6 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
}

.home6 .flex-item .top-item {
    width: 280px;
    height: 261px;
    background: $font-home5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home6 .flex-item .bottom-item {
    width: 280px;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: $white-contact;
    cursor: pointer;
}

.flexbox-home6 .bottom-item h5{
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 48px;
    color: $font-home5;
}

.flexbox-home6 .bottom-item span{
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $font-auto;
}
