.home3{
    width: 100%;
    height: 100vh;
    background-color: $white-contact;
}

.home3 .home3-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
}

.home3 .home3-all .home3-left{
    width: 40%;
}

.home3 .home3-all .home3-right{
    width: 60%;
    padding-left:50px;
}

.home3-all .home3-right img{
    width: 100%;
}

.home3-all .home3-left .title-home3 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 120px;
    color: $second-primary;
}

.home3 .home3-left .btn-home3 {
    width: 136px;
    height: 50px;
    background: $btn-home;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.home3 .btn-home3 p {
    font-family:$font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: $white-contact;
} 

.home3-left .content-home3 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $second-primary;
    text-align: justify;
}

.home3 .home3-all .bottom-span {
    margin-top: 40px;
}

.home3-all .bottom-span span{
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: $primary;
    cursor: pointer;
}

.home3-all .bottom-span .contact{
    font-size: 14px;
    color: $primary;
    cursor: pointer;
}

