.home4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $white-contact;
}

.home4 .all-home4 {
    width: 100%;
    text-align: center;
}

.home4 .image-home4 {
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
}

.home4 .title-home4 {
    transform: translateY(-30%);
}

.home4 .image-home4 img {
    width: 100%;
}

.home4 .all-home4 .btn-home4 {
    width: 180px;
    height: 40px;
    border: 1px solid $font-done;
    border-radius: 18px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    color: $font-btn4;
    transform: translateY(60%);
}

.home4 .all-home4 .btn-home4:hover {
    opacity: 1;
    transition: all 0.5s ease;
}

.home4 .title-home4 h3 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 110px;
    color: $second-primary;
}

.home4 .title-home4 p {
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-left: calc(calc(100% - 1020px)/2);
    padding-right: calc(calc(100% - 1020px)/2);
    color: $font-home5;
}