.home5 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.home5 .all-home5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
}

.home5 .all-home5 .left-home5 {
    flex: 2;
}

.home5 .all-home5 .right-home5 {
    flex: 1;
}

.home5 .left-home5 h3 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 125%;
    color: $white-contact;
}

.home5 .left-home5 p {
    padding-top: 50px;
    font-family: $font-text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.005em;
    color: $white-contact;
    text-align: justify;
}

.home5 .right-home5 {
    display: flex;
    align-items: center;
}

.home5 .square-item {
    width: 200px;
    height: 160px;
    padding: 20px;
    border: 2px solid $white-contact;
    border-radius: 20px;
}

.home5 .right-home5 .square-item {
    margin: 20px 10px;
}


.home5 .right-home5 {
    padding-left: 100px;
}

.home5 .square-item>h5 {
    font-family: $font-text;
    font-style: normal;
    margin-top: 15px;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    text-align: center;
    color: $white-contact;
    opacity: 0.99;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.home5 .square-item>p {
    font-family: $font-text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: $white-contact;
    opacity: 0.99;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.home5 .all-home5-item {
    width: 100%;
    height: 100%;
}

.home5 .all-home5-item .all-home5 {
    height: 80%;
    background: url(../images/background-home5.png) center center  no-repeat;
    mix-blend-mode: normal;
}

.home5 .all-home5-item .footer-items {
    height: 20%;
    background-color: $white-contact;
}