.home3{
    width: 100%;
    height: auto;
    background-color: $white-contact;
}

.home3 .home3-alls {
    height: 100%;
}

.home3 .home3-all{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
}

.home3 .home3-all .home3-left{
    flex: 1;
}

.home3 .home3-all .home3-right{
    flex: 1;
    padding:50px 0 50px 50px;
}

.home3-all .home3-right img{
    width: 100%;
    display: block;
}

.home3-all .home3-left .title-home3 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 120px;
    color: $second-primary;
}

.home3 .home3-left .btn-home3 {
    width: 136px;
    height: 50px;
    background: $btn-home;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.home3 .home3-left .btn-home3:hover {
    background-color: $primary;
    transition: all 0.5s ease;
}

.home3 .btn-home3 p {
    font-family:$font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: $white-contact;
}

.home3 .btn-home3 p:hover {
    font-size: 20px ;
    transition: all 0.5s ease;
}

.home3-left .content-home3 {
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $second-primary;
    text-align: justify;
}

.home3 .home3-all .bottom-span {
    margin-top: 40px;
}
.home3 .home3-all .bottom-span a {
    text-decoration: none;
}

.home3-all .bottom-span span{
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: $primary;
    cursor: pointer;
}

.home3-all .bottom-span span:hover {
    font-size: 19px;
    transition: all 0.5s ease;
}

.home3-all .bottom-span .contact{
    font-size: 14px;
    color: $primary;
    cursor: pointer;    
}

.home3 .content-home3 b {
    font-weight: 600;
}
