.home9 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: $primary;
    position: relative;
}

.home9 .all-home9 {
    width: 100%;
    text-align: center;
    padding-left: calc(calc(100% - 800px)/2);
    padding-right: calc(calc(100% - 800px)/2);
    // background-color: $primary;
}

.home9  .all-home9 .title-home9 h1{
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: $lt-font-size-text-h1;
    line-height: $lt-line-height-text-h1;
    color: $white-contact;
    z-index: 999;
    margin-bottom: $space-margin-top-bottom-m;
}


.home9 .all-home9 .form-input {
    padding: 0 20px;
    border: solid $font-team;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    transition: .25s ease;
    background-color: $white-contact;
}

.home9 .all-home9 .form-input:focus {
    border-color: $font-seen;
}

.home9 .all-home9 .form-field {
    position: relative;
    margin-top: 20px;
}
.home9 .all-home9 .form-field h1 {
    font-size: $mb-font-size-text-h2;
    line-height: $mb-line-height-text-h2;
}

.home9 .form-field .form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: $font-team;
    pointer-events: none;
    font-size: $lt-font-size-text-l;
    transition: 0.25s ease;
}

.home9 .form-field .form-input:focus + .form-label {
    top: -10px;
    left: 11px;
    padding: 0 10px;
    display: inline-block;
    background-color: inherit;
    color: $font-seen;
}

.home9 .form-input::placeholder {
    font-size: $lt-font-size-text-l;
}

.home9 .button-home9 .btn-home9 {
    width: 240px;
    height: 60px;
    margin: $space-margin-top-bottom-l 0;
    background: $primary;
    border: 3px solid $white-contact;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.home9 .button-home9 .btn-home9:hover{
    opacity: 1;
}

.home9 .button-home9 p{
    font-family: $font-text;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.065em;
    color: $white-contact;
}

.home9 .left-top {
    position: absolute;
    width: 60vh;
    height: 30vh;
    top: 0; 
    left: -100px;
    background: $square;
    border-top-right-radius: 5%;
    border-bottom-right-radius:150%;
}

.home9 .right-top {
    position: absolute;
    width: 55vh;
    height: 30vh;
    top: 0; 
    right: 0;
    background: $square;
    border-top-left-radius: 60%;
    border-bottom-left-radius:200%;
    border-bottom-right-radius:3%;
}

.footer-items-home9 {
    width: 100%;
    height: 18vh;
    background-color: $third;
}

.footer-items-home9 .footer-item-home9 .all-footer-items-home9 {
    display: flex;
    height: 18vh;
    align-items: center;
    justify-content: space-around;
}

.footer-items-home9 .footer-item-home9 .all-footer-items-home9 img {
    width: 15%;
}

