.logo {
    width: 15%;
    cursor: pointer;
    transform: translateX(-10%);
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .navbar .nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    height: 100px;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 0;
    left: 0;
    line-height: 100px;
    z-index: 99999;
  }
  
  .auto-nav {
    box-shadow: 0px 0px 2px 0px rgb(57, 57, 57);
  }
  
  .nav .nav-items > li {
    display: inline-block;
    position: relative;
  }

  .nav .nav-items {
    transform: translateX(10%);
  }
  
  .nav .nav-items a:hover {
    color: #FA7716;
    transition: 1s;
  }
  
  .nav .nav-items li a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 22px;
    font-weight: 500;
    color: #151A3C;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    display: inline-block;
    font-weight: 400;
  }
  
  .nav-items .nav_home {
    color: #FA7716 !important;
  }
  
  .navbar .btn-button {
    width: 120px;
    height: 40px;
    border: none;
    background: linear-gradient(290.23deg, #F07E2A 19.71%, #FFAB6C 84.85%);
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
  }
  
  .navbar .btn-button p {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: $white-contact;
    font-family: "Montserrat", sans-serif;
  }
  
  .navbar .btn-button p:hover {
    color: #151A3C;
    transition: 1s;
  }
  
  .navbar .nav .subnav {
    position: absolute;
    background-color: rgb(255, 255, 255);
    display: none;
    width: 136px;
    transform: translateX(-5%);
    box-shadow: 0px 8px 13px 4px rgba(155, 155, 155, 0.25);
  }
  
  .subnav li {
    line-height: 50px;
  }
  
  .nav li:hover .subnav {
    display: block;
    transition: 3s ease;
  }

  .nav .search-btn-banner, .nav .mobile-menu-btn {
    display: none;
  }