.logo {
    width: 15%;
    cursor: pointer;
    transform: translateX(-10%);
}

.navbar .nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
    height: 100px;
    align-items: center;
    background-color:$navbar;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}

.nav .nav-items li {
    display: inline-block;
}

.nav .nav-items a:hover {
    color: $primary;
    transition: 1s;
}

.nav .nav-items li a {
    text-decoration: none;
    margin-left: 39px;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: $second-primary;
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
}

.nav-items .nav_home{
    color: $primary !important;
}

.navbar .btn-button{
    width: 120px;
    height: 40px;
    border: none;
    background: linear-gradient(290.23deg, $third 19.71%, $foure 84.85%);
    border-radius: 20px;
    font-family: $font-text;
    cursor: pointer;
}

.navbar .btn-button p{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: $white-contact;
    font-family: $font-text;
}

.navbar .btn-button p:hover{
    color: $second-primary;
    transition: 1s;
}

// @media  (max-width: 1200px) {
//     .navbar .nav{
//         padding-left: calc(calc(100% - 1140px)/2);
//         padding-right: calc(calc(100% - 1140px)/2);
//     }
    
// }

// @media (max-width: 992px) {
//     .navbar.nav{   
//         padding-left: calc(calc(100% - 960px)/2);
//         padding-right: calc(calc(100% - 960px)/2);
//     }
// }
    