@media (max-width: 829px) {
    //NAVBAR 

    .navbar .nav {
        padding: 0 20px;
        background-color: $color-navbar;
    }

    .nav .nav-items > li {
        width: 100%;
    }

    .nav .nav-items li {
        width: 100%;
        margin-top: 1px;
        background-color: $color-items;
    }

    .nav .nav-items li a {
        // width: 100%;
        font-size: 20px;
        font-weight: 700;
    }

    .nav .auto {
        display: flex;
    }

    .logo {
        width: 35%;
      }
    
    .nav .nav-items {
        display: none;
        line-height: 55px;
        padding: 10px 0;
    }

    .navbar .nav .subnav {
        position: relative;
        transform: translateX(0%);
        width: 100%;
        background-color: $color-subnav;
    }

    .subnav li {
        line-height: 40px;
      }

    .nav .subnav li a{
        font-size: 18px;        
    }

    .nav .search-btn-banner, .nav .mobile-menu-btn {
        display: block;
    }

    .nav .mobile-menu-btn .menu-items {
        font-size: 30px;
        cursor: pointer;
        font-weight: 600;
        color: $font-home5;
        line-height: 100px;
    }

    .nav .search-btn-banner .search-icon {
        font-size: 25px;
        cursor: pointer;
        font-weight: 600;
        color: $font-home5;
        line-height: 100px;
        margin-right: 20px;
    }

    .navbar .btn-button {
        width: auto;
        height: auto;
        background: transparent;
        border: none;
        cursor: pointer;
      }

    .navbar .btn-button p {
        font-style: normal;
        font-size: 20px;
        font-weight: 700;
        color: $second-primary;
    }

    //BANNER
    .banner .square-right {
        width: 40vh;
        height: 50vh;
        border-top-right-radius: 50%;
        border-top-left-radius: 65%;
        border-bottom-left-radius: 86%;
    }

    .banner .square {
        width: 40vh;
        height: 40vh;
        top: 0%;
    }

    .banner .img_banner{
        top: 55%;
        left: 6%;
    }

    .banner .banner-content {
        top: 20%;
        padding-left: 20px;
    }

    .banner .img_banner img{
        width: 100%;
    }

    .banner .banner-content h1{
        font-size: 33px;
        line-height: 40px;
    }

    .banner .banner-content .button-banner {
        opacity: 1;
        width: 150px;
        height: 35px;
        margin-top: 30px;
    }

    .banner .button-banner p{
        margin-left: -40px;
        font-size: 13px;
    }

    .banner .button-banner .alo{
        font-size: 12px;
        margin-left: 20px;
        margin-top: -14px;
    }

    //HOME3
    .home3 .home3-alls {
        transform: translateY(3%);
    }

    .home3 .home3-all{
        display: inline;
        text-align: center;
    }

    .home3-all .home3-left .title-home3 {
        font-size: 30px;
        line-height: 60px;
    }

    .home3 .home3-all .home3-left{
        flex: 1;
        padding: 0 20px;
    }

    .home3-left .content-home3 {
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
        padding: 0px;
    }

    .home3 .home3-all .home3-right{
        padding:0px 50px 20px 50px;
    }

    .home3 .home3-all .bottom-span {
        margin-top: 10px;
    }

    .home3 .home3-left .btn-home3 {
        width: 110px;
        height: 33px;
    }

    .home3 .btn-home3 p {
        font-size: 13px;
    }

    .home3-all .bottom-span span{
        font-weight: 700;
        font-size: 13px;
    }

    .home3-all .bottom-span .contact{
        display: none;
    }

    //HOME 2

    .home2-all .home2-button .btn-top-home2 {
        width: 140px;
        height: 35px;
        background-color: $primary;
        transform: translateY(0);
    }

    .home2-button .btn-top-home2 p {
        font-size: 13px;
    }

    .home2-all .home2-content h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 50px;
        padding-top: 20px;
    }

    .home2 .flexbox-service .flexbox-item {
        background: $white-contact;
        border: 1px solid $color-hiring4;
        box-shadow: 0px 4px 4px $color-flex-items;
        border-radius: 23px;
        margin: 5px;
        min-height: 250px;
        padding: 10px;
    }

    .home2 .flexbox-item .flex-content {
        margin: 20px 0;
        font-size: 13px;
    }

    .home2 .img_flex img {
        width: 100px;
        height: 100px;
    }

    .home2 .flexbox-item .flex-item {
        font-size: 12px;
    }

    .fix2 img {
        transform: translateY(0) !important;
    }

    .fix3 h5 {
        transform: translateY(0) !important;
    }

    .home2 .flexbox-service {
        padding-top: 0px;
    }

    //HOME4

    .home4 {
        display: none;
    }

    //HOME5

    .home5 .all-home5 {
        padding-left: calc((100% - 345px) / 2);
        padding-right: calc((100% - 345px) / 2);
    }

    .home5 .left-home5 h3 {
        font-size: 30px;
        line-height: 100%;
        text-align: center;
    }

    .home5 .left-home5 p {
        padding-top: 30px;
        font-size: 13px;
        line-height: 18px;
        text-align: justify;

    }

    .home5 .square-item {
        width: 150px;
        height: 120px;
    }

    .home5 .right-home5 {
        padding-left: 0;
    }

    .home5 .right-home5 {
        justify-content: space-around;
    }

    .home5 .square-item>h5 {
        font-size: 20px;
        margin-top: 5px;
    }

    .home5 .square-item>p {
        font-size: 13px;
    }

    .home5 .all-home5-item .all-home5 {
        height: 90%;
    }
    
    .home5 .all-home5-item .footer-items {
        height: 10%;
    }

    .footer {
        display: none;
    }

    //HOME6 

    .home6 .all-home6 .top-content {
        font-size: 35px;
        line-height: 50px;
        transform: translateY(-30%);
    }

    .home6 .flex-item .top-item {
        width: 160px;
        height: 141px;
    }

    .home6 .flex-item .bottom-item {
        width: 160px;
        height: 60px;
    }

    .flexbox-home6 .bottom-item h5 {
        font-size: 13px;
        line-height: 28px;
        padding-top: 10px;
    }
    
    .flexbox-home6 .bottom-item span {
        font-size: 12px;
        line-height: 0px;
    }

    //HOME7

    .home7 .button-home7 {
        display: none;
    }

    .home7 .all-home7 .title-home7 {
        font-size: 25px;
        line-height: 35px;
    }

    .home7 .slider .nav {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }

    .home7 .nxt {
        margin-left: -10px;
        z-index: 9999;
    }

    .home7 .pre {
        margin-right:-10px ;
        z-index: 9999;
    }

    .home7 .container-slider .slide .item-slider {
        flex-wrap: wrap;
    }

    .home7 .img-item-slider {
        margin-right: auto;
        margin-left: auto;
    }

    .home7 .content-slider-item {
        display: inline;
        width: auto;
        height: auto;
        padding: 0;
    }

    .home7 .content-slider-item h2 {
        font-size: 27px;
        text-align: center;
        line-height: 23px;
    }

    .home7 .content-slider-item p {
        padding-top: 10px;
        font-size: 10px;
        line-height: 11px;
        padding: 10px 10px;
    }

    .home7 .img-item-slider {
        display: inline; 
        width: 0; 
        height: 0; 
        width: auto;
        height: auto;
    }

    //HOME 8

    .feedback {
        display: none;
    }

    .feedback .slider .nav {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }

    .feedback .infomation h2 {
        font-size: 15px;
        text-align: left;
        margin-left: 20px;
    }

    .feedback .infomation p {
        font-size: 13px;
        text-align: left;
        margin-left: 20px;
        padding: 10px;
    }
    
    .feedback .nxt {
        margin: 0 10px;
    }
      
    .feedback .pre {
        margin: 0 10px;
    }

    //HOME9

    .home9  .all-home9 .title-home9 h3{
        font-size: 40px;
        line-height: 100px;
    }

    .home9 .all-home9 {
        padding-left: calc(calc(100% - 330px)/2);
        padding-right: calc(calc(100% - 330px)/2);
    }

    .home9 .all-home9 .form-input {
        height: 40px;
    }

    .home9 .button-home9 .btn-home9 {
        width: 100%;
        height: 50px;
        opacity: 0.9;
    }

    .home9 .button-home9 p{
        font-size: 20px;
    }

    .home9 .left-top {
        width: 30vh;
        height: 20vh;
    }

    .home9 .right-top {
        position: absolute;
        width: 35vh;
        height: 50vh;
        border-top-left-radius: 60%;
        border-bottom-left-radius:200%;
        border-bottom-right-radius:3%;
    }

    .home10 {
        display: flex;
    }

    //Aboutus

    .aboutus {
        margin-top: 100px;
    }

    .aboutus .all_aboutus {
        padding-left: calc(calc(100% - 350px)/2);
        padding-right: calc(calc(100% - 350px)/2);
        flex-direction: column-reverse;
    }

    .aboutus .content-aboutus h4 {
        font-size: 20px;
        line-height: 52px;
    }
    
    .aboutus .content-aboutus h1 {
        font-size: 28px;
        line-height: 43px;
    }

    .aboutus .content-aboutus p {
        font-size: 13px;
        line-height: 25px;
        padding-top: 10px;
    }

    .aboutus .right .img-about {
       width: 100%;
    }

    // .aboutus_2 {
    //     display: none;
    // }

    .aboutus_2 .all-aboutus_2 .first {
        flex-direction: column-reverse;
    }

    .aboutus_2 .all-aboutus_2 .second {
        flex-direction: column;
    }

    .aboutus_2 .all-aboutus_2 .third {
        flex-direction: column-reverse;
    }

    .aboutus_2 .all-aboutus_2 .four {
        flex-direction: column;
    }
    
    .aboutus_2 .all-footer-items-aboutus2 img{
        width: 20%;
    }

    .aboutus_2 .first .right-oval {
        width: 350px;
        height: 350px;
    }

    .aboutus_2 .second .image-oval {
        width: 300px;
        height: 300px;
    }

    .aboutus_2 .third .image-oval {
        width: 250px;
        height: 250px;
    }

    .aboutus_2 .four .left-image {
        width: 200px;
        height: 200px;
    }

    .aboutus_2 .all-aboutus_2 .all-aboutus_2-item {
        padding-left: calc(calc(100% - 350px)/2);
        padding-right: calc(calc(100% - 350px)/2);
    }

    .aboutus_2 .first .content-left h3 {
        font-size: 30px;
    }

    .aboutus_2 .content-right p {
        font-size: 13px;
    }

    .aboutus_2 .first .content-left p {
        font-size: 13px;
    }
}


@media (min-width: 395px) and (max-width: 450px) {
    //HOME2

    .home2 .img_flex img {
        width: 140px;
        height: 140px;
    }
}