.Service4-Items {
    width: 100%;
    height: auto;
    position: relative;
    background-color: $white-contact;
}

.Service4-Items .all-Service4-Items {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: calc(calc(100% - 1200px)/2);
    padding-right: calc(calc(100% - 1200px)/2);
}

.Service4-Items .all-Service4-Items .left-Service4 {
    flex: 1;
}

.Service4-Items .all-Service4-Items .right-content {
    flex: 1;
}

.Service4-Items .right-content span {
    font-style: normal;
    font-weight: 700;
    font-size: $lt-font-size-text-l;
    line-height: $line-height-text-l;
    color: $font-black;
    font-family: $font-text;
}

.Service4-Items .right-content ul {
    font-family: $font-text;
    font-style: normal;
    font-weight: 600;
    font-size: $lt-font-size-text-h3;
    line-height: 60px;
    padding-top: 10px;
    color: $font-home5;
}

.Service4-Items .right-content li {
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: $lt-font-size-text-l;
    line-height: 40px;
    color: $font-black;
    margin-left: 40px;
}

.Service4-Items .left-Service4 img {
    width: 100%;
}