$primary : #FA7716;
$third: #F07E2A;
$foure: #FFAB6C;
$square: #FC8833;
$btn-home: #FF974A;
$finner: #FF9344;
$white-contact: #FFFFFF;
$second-primary : #151A3C;
$font-bottom: #FAFAFA;
$font-auto: #3D4888;
$font-done: #000000;
$font-home4: #8F68FF;
$font-input: #272727;
$font-back: #7E99F9;
$font-home5: #202857;
$navbar:  rgb(255, 255, 255);
$font-text4: 'Be Vietnam', sans-serif;
$font-text: 'Barlow Semi Condensed', sans-serif;
$font-text2:'Poppins', sans-serif;
$font-text3: 'Be Vietnam Pro', sans-serif;
$font-text5: 'Montserrat Alternates', sans-serif;