$primary : #FA7716;
$third: #F07E2A;
$foure: #FFAB6C;
$square: #FC8833;
$btn-home: #FF974A;
$finner: #FF9344;
$color-text: #3E5AFE;
$white-contact: #FFFFFF;
$aboutus-color: #DEDEDE;
$home-air: #D9D9D9;
$second-primary : #151A3C;
$font-bottom: #FAFAFA;
$font-auto: #3D4888;
$font-done: #000000;
$font-home4: #8F68FF;
$font-input: #272727;
$font-back: #0066B2;;
$font-home5: #202857;
$navbar:  rgb(255, 255, 255);
$font-text: 'Montserrat', sans-serif;