$primary : #FA7716;
$third: #F07E2A;
$foure: #FFAB6C;
$square: #FC8833;
$btn-home: #FF974A;
$finner: #FF9344;
$font-hiring: #FF9500;
$font-ITEMS-SERVICE2: #EFA156;
$font-ITEMS-SERVICE1: #EC6C65;
$color-text: #3E5AFE;
$back-ground-Service5: #0788E9;
$font-space1: #3A57B6;
$font-btn4: #444444;
$white-contact: #FFFFFF;
$color-hiring4: #F6F8FA;
$aboutus-color: #DEDEDE;
$home-air: #D9D9D9;
$font-back-home8: #707070;
$bottom-soid: #7A7A7A;
$feedback-color: #f3f0f0;
$font-testimonials2:#EDEFF1;;
$second-primary : #151A3C;
$font-bottom: #FAFAFA;
$font-auto: #3D4888;
$font-done: #000000;
$font-home4: #8F68FF;
$font-testimonials1:#8D9BED;
$font-input: #272727;
$font-service2: #0066B2;
$font-back: #0066B2;
$color-service-items-child: #007EDC; 
$font-seen: #6a5af9;
$font-team:  #eee;
$font-home5: #202857;
$font-hiring4: #D1C9C9;
$font-black: #000000;
$color-nav-slider: orangered;
$font-input-hiring4: #8F8F8F;
$color-items: #454545;
$color-slider-home7: rgba(4, 4, 21, 0.25);
$color-square-hiring4: rgba(182, 182, 182, 0.25);
$shadow-navbar: rgb(57, 57, 57);
$color-flex-items: rgba(187, 184, 184, 0.25);
$color-home7: rgba(201, 195, 195, 0.25);
$shadow-navbar2: rgba(155, 155, 155, 0.25);
$color-navbar: rgb(243, 243, 243);
$navbar:  rgb(255, 255, 255);
$color-items: rgb(231, 231, 231);
$color-btn-testimonials2: rgba(252, 252, 252, 0.2);
$font-service2-color: rgba(174, 170, 170, 0.25);
$font-service2-color1: rgba(159, 159, 159, 0.25);
$color-subnav: rgb(186, 186, 186);
$color-hover-button: rgba(252, 252, 252, 0.1);
$color-white: white;
$color-yelow: yellow;
$color-hiring2: rgba(187, 187, 187, 0.37);
$color-footer-items: rgba(255, 255, 255, 1);
$color-footer-items2: rgba(255, 255, 255, 0);
$color-white-none: #fff;
$color-hiring3-btn: rgba(255, 255, 255, 0.5);
$color-btnactive: #2696E9;
$color-navigation-btn: rgba(0, 0, 0, 0.5);
$blue_bg:#1E57EA;
$font-text: 'Inter', sans-serif;;